body {
    font-family: 'Roboto', sans-serif;
}

header, main, footer {
    max-width: 640px;
    margin: 1rem auto;
    border: 1px solid rgba(0, 57, 117, 0.15);
    padding: 1rem;
    background-color: rgb(166, 183, 205);
}

main {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

section {
    background-color: rgb(239, 239, 245);
    padding: 1.5rem;
}